// Fonts
$primary-font     :     'Poppins', sans-serif;

// Colors
$primary-color    :     #FFC910;
$secondary-color  :     #2C3442;
$yellow-color     :     #FFD411;
$white-color      :     #FFFFFF;
$black-color-3    :     #000000;
$black-color-2    :     #333333;
$black-color-1    :     #272728;
$gray-color-5     :     #979797;
$gray-color-4     :     #D8D8D8;
$gray-color-3     :     #DCDCDC;
$gray-color-2     :     #ECEAEA;
$gray-color-1     :     #F8F8F8;