// FOOTER
.footer {
  background-color: $black-color-1;

  .footer-widgets {

    .widget-box {
      margin: 190px 0;

      h4 {
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: 700;
        color: $white-color;
      }

      ul {
        padding: 0;
        list-style-type: none;

        li {
          margin-bottom: 20px;
          font-size: 22px;
          line-height: 29px;

          a {
            color: $white-color;
            font-weight: 300;
          }
        }
      }
    }
  }
}