// HEADER
.header {
  position: relative;
  transition-duration: .3s;
  overflow: hidden;
  z-index: 3;

  .brand-logo {
    float: left;

    a {
      display: inline-block;

      img {
        width: 159px;
        height: 159px;
        object-fit: cover;
        object-position: center;
        transition-duration: .3s;
      }
    }
  }

  .header-menu {
    float: right;

    .menu-icon {
      position: relative;
      margin: 69px auto 0 auto;
      padding-left: 1.25em;
      width: 42px;
      height: 28px;
      cursor: pointer;

      .menu-global {
        position: absolute;
        left: 0;
        width: 100%;
        transition: 0.3s;
        border-top: 5px solid $secondary-color;
        backface-visibility: hidden;

        &.menu-top {
          top: 0;
        }
        &.menu-middle {
          top: 12px;
        }
        &.menu-bottom {
          top: 24px;
        }

        &.menu-top-click {
          top: 15px;
          transform: rotate(90deg);
          transition: 0.3s 0.3s;
          backface-visibility: hidden;
        }
        &.menu-middle-click {
          opacity: 0;
          transition: 0.3s 0.3s;
        }
        &.menu-bottom-click {
          backface-visibility: hidden;
          top: 15px;
          transform: rotate(-360deg);
          transition: 0.3s 0.3s;
        }
      }
    }
  }

  &.header-fixed {
    position: fixed;
    width: 100%;
    background-color: $white-color;

    .brand-logo {

      a {

        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .header-menu {

      .menu-icon {
        margin-top: 35px;
      }
    }
  }
}